.title{
  text-align:right;
  font-size:5rem;
  color: rgb(127, 2, 131);
}


.sachin{
  display: grid;
  padding: 50px;

  grid-template-columns: 1fr  1fr ;
  row-gap: 50px;
  column-gap:0px;
 /*background-color: #415f05ad;*/
  text-align: center;
}
